@model Vidly.ViewModels.CustomerDetailsViewModel
@{
    ViewBag.Title = "Single Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details of a single customer</h2>

<p>Customer details</p>