@{
    ViewBag.Title = "Vidly";
}

<div class="jumbotron">
    <h1>VIDLY</h1>
    <p class="lead">Vidly is an application for viewing movies and rentals.</p>
    <p><a href="https://vidly" class="btn btn-primary btn-lg">Vidly &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>
            Maecenas hendrerit turpis et enim aliquam, eu tincidunt nisl dapibus. Ut at arcu elit. Cras nec tortor vitae lorem facilisis egestas nec a eros. Nunc fermentum, arcu quis eleifend ultrices, metus neque euismod ipsum, vel tincidunt dui odio vitae quam. Proin ornare malesuada dolor at tincidunt. Integer dignissim blandit suscipit. Mauris sit amet sem dictum, pretium elit sed, congue quam. Proin eget est id turpis placerat finibus. Sed congue luctus auctor. Aliquam in metus est. Sed sed imperdiet erat.
        </p>
        <p><a class="btn btn-default" href="https://vidly">Movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Aliquam dictum lacus imperdiet, varius diam a, rutrum diam. Pellentesque hendrerit erat et volutpat aliquam. Mauris hendrerit felis id maximus laoreet. Donec sodales lorem eu nibh rutrum varius. Proin purus massa, sagittis vitae blandit at, consectetur at dui. Ut ac blandit sapien, varius tincidunt tortor. Nam tempus, justo efficitur interdum ultrices, nulla turpis placerat tellus, non aliquam ipsum nulla ut dui. Pellentesque et condimentum lectus, in dictum erat.</p>
        <p><a class="btn btn-default" href="https://vidly">Customers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Something Else</h2>
        <p>Vestibulum vel ligula volutpat, malesuada magna id, ullamcorper nisi. Morbi semper felis a vestibulum pellentesque. Mauris tempor molestie justo eu condimentum. Aliquam metus risus, posuere ac leo quis, gravida venenatis libero. Integer vel mi at neque vehicula fermentum. Morbi ac viverra ante, nec scelerisque urna.</p>
        <p><a class="btn btn-default" href="https://vidly">Something Else &raquo;</a></p>
    </div>
</div>